#myDiv {
    padding: 20px;
    margin-top: 600px;
    margin-bottom: 600px;
    width: 400px;
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
}
#title {
    font-size: 70px;
    font-family: cursive;
}
#paragraph{
    font-size: 18px;
}
#heading {
    font-size: 40px;
    font-family: Arial;
}
#paragraph2 {
    font-size: 16px;
    font-family: sans-serif'
}
.animation {
    transition: all 1.5s;
    transition-delay: 400ms;
    transform: translateY(20%);
    opacity: 0;
}
.show-animation {
    transform: translateY(0);
    opacity: 1;
}